.flag{
    width: 900px;
    height: 600px;
    background-color: #ce1126;
}
div > div{
    position: relative;
    background-color: #002868;
    width: 900px;
    height: 300px;
    top: 18%;

}

div>div>div{
    position: relative;
    border-radius: 50%;
    background-color: #fff;
    height: 200px;
    width: 200px;
    top: 15%;
    left: 37%;

}
div div div p{
    position: relative;
    color:black;
    left: 37%;
    top: 45%;
    padding: 0;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
div p{
    position: relative;
    padding-left: 45%;
    top: 10%;
    color: white;
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif
}